.section-one {
    background-color: #ffffff;
    color: black;

    height: auto;
    width: 100%;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.section-item-one {
    height: auto;
    width: 50%;

    padding: 0.50rem;

    font-size: 1rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
    text-align: center;
}

.horizontal-line {
    background-color: rgba(0, 0, 0, 0.423);

    width: 27%;
    height: 0.1rem;
}

.vertical-line {
    display: none;
}

@media (min-width: 768px) {
    .section-list {
        gap: 0.50rem;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .section-item-one {
        font-size: 0.80rem;
    }

    .vertical-line {
        background-color: rgba(0, 0, 0, 0.621);

        width: 0.2rem;
        height: 3rem;

        display: flex;
    }

    .horizontal-line {
        display: none;
    }
}

@media (min-width: 1024px) {
    .section-one {
        padding-top: 2rem;
        padding-bottom: 1rem;

        display: flex;
        justify-content: center;
    }

    .section-list {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 0rem;
    }

    .horizontal-line {
        display: none;
    }

    .section-list {
        width: 80%;

        gap: 1rem;
    }

    .section-item-one {
        font-size: 1rem;
    }
}

@media (min-width: 1440px) {
    .section-one {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .section-item-one {
        font-size: 1rem;
        font-weight: 700;
    }

    .section-list {
        gap: 0;
    }
}
