    .container-about-us {
        background-color: #f6f6f6;
        color: black;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        overflow: hidden;
    }

    .image-about-us {
        width: 90%;
        height: 18rem;
        object-fit: cover;
        border-radius: 1%;
    }

    .title-about-us {
        font-size: 1.20rem;
        font-weight: 700;
        padding-top: 2.50rem;
        padding-bottom: 2rem;
    }

    .section-about-1 .section-about-2 .section-about-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-h2 {
        font-size: 1.15rem;
        font-weight: 700;
        padding-bottom: 0.50rem;
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .about-p {
        font-size: 0.90rem;
        font-weight: 400;
        padding-left: 10%;
        padding-right: 10%;
        line-height: 1.2;
        text-align: center;
    }

    .button-about-us {
        background: linear-gradient(to right, #b3b300, #ffffff);
        border: 1px solid #b3b300;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s ease;
        border-radius: 5px;
        font-weight: 900;
    }

    .button-container {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }

    .about-us-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media (min-width: 768px) {
        .container-about-us {
            height: 55rem;
        }

        .title-about-us {
            font-size: 1.50rem;
        }

        .image-about-us {
            height: 30rem;
        }

        .about-us-content {
            min-height: 10rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
            width: 90%;
        }

        .section-about-1 {
            height: 11rem;
            width: 35rem;
        }

        .section-about-2 {
            height: 11rem;
            width: 35rem;
        }

        .section-about-3 {
            height: 11rem;
            width: 35rem;
            display: flex;
            justify-content: start;
            align-items: left;
            flex-direction: column;
        }

        .about-h2 {
            font-weight: 900;
            /* margin-bottom: 0.50rem; */
            justify-content: left;
        }

        .about-p {
            font-size: 0.85rem;
            text-align: left;
            padding-left: 0%;
            padding-right: 0%;
        }

        @media (min-width: 1280px) {
            .container-about-us {
                height: 70rem;
            }
            .image-about-us {
                width: 70%;
                height: 40rem;
            }
            .title-about-us {
                font-size: 2rem;
                padding-bottom: 3%;
            }
        }
    }
