.container-gallery-all {
    background-color: #ffffff;
    color: black;

    height: auto;
    width: 100%;

    padding-top: 3rem;
    padding-bottom: 3rem;
}

.title {
    padding-bottom: 0.70rem;

    font-size: 1.45rem;
    font-weight: 900;

    text-align: center;
}

.list-option-container {
    width: 100%;
    padding-bottom: 1.3rem;
    padding-left: 4rem;

    display: flex;
    justify-content: center;
}

.list-option {
    padding-right: 1rem;

    font-size: 0.9rem;
    font-weight: 900;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-option li {
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
}

.list-option li.active::after {
    background-color: #6e8f84;

    content: "";
    width: 100%;
    height: 3px;
    border-radius: 2px;
    bottom: -3px;
    left: 0;

    display: block;
    position: absolute;
}


.gallery-scroll {
    padding: 2%;
    gap: 2%;

    overflow-x: auto;
    scroll-behavior: smooth;

    display: flex;
}

.gallery-scroll::-webkit-scrollbar {
    background-color: rgb(206, 206, 206);

    height: 3px;
}

.gallery-scroll::-webkit-scrollbar-thumb {
    background-color: #c4ce34;

    margin-top: 5%;
    padding-top: 5%;

    border-radius: 4px;
    width: 10%;
}

.gallery-button.prev {
    left: 0;
}

.gallery-button.next {
    right: 0;
}

.gallery-buttons-inline {
    gap: 0.35rem;

    display: flex;
    align-items: center;
}

.gallery-single-button {
    background: #151515;
    color: #fff;

    border: none;
    border-radius: 5px;

    padding: 6px 1rem 6px 11px;

    font-size: 0.65rem;

    cursor: pointer;
    transition: background 0.3s;
}

.gallery-button-inline:hover {
    background: #555;
}

.image-container {
    background: #f5f5f5;

    width: 15rem;
    height: 14rem;
    padding: 2rem;
    margin-bottom: 1rem;

    border-radius: 10px;

    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 20rem;
    max-height: 9rem;
    border-radius: 10px;
    object-fit: contain;
}

.image-container h3 {
    margin-top: 0.80rem;

    font-size: 0.95rem;
    font-weight: bold;
}

.image-container p {
    color: #262626;

    margin-top: 0.25rem;
    font-size: 0.80rem;
}

@media (min-width: 768px) {
    .list-option-container {
        padding-bottom: 0.5rem;
        padding-left: 8rem;
    }

    .list-option {
        padding-right: 5rem;
    }
}

@media (min-width: 1024px) {
    .container-gallery {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-option-container {
        padding-bottom: 0;
        padding-left: 8rem;
    }

    .gallery-scroll {
        border-radius: 10px;

        width: 51rem;
    }
}

@media (min-width: 1440px) {
    .gallery-scroll {
        width: 63rem;
    }

    .image-container {
        width: 18rem;
        height: 18rem;
        padding: 0rem;
        margin-bottom: 0rem;
    }

    .image-container img {
        max-width: 20rem;
        max-height: 12rem;
        border-radius: 10px;
        object-fit: contain;
    }

    .image-container h3 {
        margin-top: 1rem;

        font-size: 1rem;
        font-weight: bold;
    }

    .image-container p {
        color: #262626;

        margin-top: 5px;
        font-size: 0.80rem;
    }
}
