.container-gallery-all {
    background-color: #ffffff;
    color: black;

    height: 35rem;
    width: 100%;
    padding-top: 3rem;
}

.title {
    font-size: 1.40rem;
    font-weight: 900;

    margin-bottom: 0.50rem;
    padding-bottom: 1%;

    text-align: center;
}

.list-option-container {
    width: 100%;
    margin-bottom: 2rem;

    display: flex;
    justify-content: space-around;
}

.list-option {
    font-size: 0.9rem;
    font-weight: 900;

    gap: 0rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-option li {
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
}

.list-option li.active::after {
    background-color: #6e8f84;

    content: "";
    width: 100%;
    height: 3px;
    border-radius: 2px;
    bottom: -3px;
    left: 0;

    display: block;
    position: absolute;
}

.gallery-button {
    background: #ff111180;
    color: #fff;

    top: 40%;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 2;

    border: none;
    position: absolute;
}

.gallery-scroll {
    padding: 2%;
    gap: 2%;

    overflow-x: auto;
    scroll-behavior: smooth;
    
    display: flex;
}

.gallery-scroll::-webkit-scrollbar {
    height: 3px;
    background-color: rgb(206, 206, 206);
}

.gallery-scroll::-webkit-scrollbar-thumb {
    margin-top: 5%;
    padding-top: 5%;
    border-radius: 4px;
    background-color: #c4ce34;
    width: 10%;
}

.gallery-button.prev {
    left: 0;
}

.gallery-button.next {
    right: 0;
}

.gallery-buttons-inline {
    display: flex;
    margin-right: 0%;
    align-items: center;
    gap: 0.35rem;
}

.gallery-single-button {
    background: #151515;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 11px;
    font-size: 0.65rem;
    cursor: pointer;
    transition: background 0.3s;
}

.gallery-button-inline:hover {
    background: #555;
}

.image-container {
    width: 15rem;
    height: 14rem;
    background: #f5f5f5;
    padding: 2rem;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.image-container img {
    max-width: auto;
    max-height: 9rem;
    border-radius: 10px;
    object-fit: contain;
}

.image-container h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.image-container p {
    margin-top: 5px;
    font-size: 14px;
    color: #262626;
}

@media (min-width: 768px) {
    .container-gallery-all {
        width: 100%;

    }

    .title {
        font-size: 1.5rem;
    }

    .list-option-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding-left: 7rem;
    }

    .list-option {
        gap: 5px;
    }

    .container-gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .gallery-scroll {
        width: 40rem;
        border-radius: 10px;
    }

}

@media (min-width: 1024px) {
    .container-gallery-all {
        width: 100%;
    }
}
