.section-two {
    background-color: #ffffff;
    color: black;

    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-two-text {
    width: 75%;
    padding-bottom: 5%;

    font-size: 0.90rem;
    font-weight: 500;

    display: flex;
    text-align: center;
}

.section-two-title {
    font-size: 1.50rem;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight {
    color: #6e8f84;

    line-height: 1.2;
}

@media (min-width: 768px) {
    .section-two {
        flex-direction: row;
    }

    .section-two-title {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .section-two-text {
        width: 20rem;
        padding-bottom: 0;
        padding-right: 5%;

        font-size: 0.80rem;

        display: flex;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .section-two {
        height: 12rem;
    }

    .section-two-text {
        font-size: 0.90rem;

        display: flex;
        text-align: left;
    }
}

@media (min-width: 1440px) {
    .section-two-text {
        width: 28rem;
        padding-bottom: 0;

        font-size: 1rem;

        display: flex;
        text-align: left;
    }

    .section-two-title {
        font-size: 2rem;
        line-height: 1.1;
        font-weight: 700;
    }
}
