.section-two {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two-text {
    color: black;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    width: 90%;
}

.section-two-title {
    color: black;
    text-align: right;
    font-weight: 900;
    line-height: 1.2;
}

.highlight {
    color: #6e8f84;
}

@media (min-width: 992px) {
    .section-two {
        height: 10rem;
        flex-direction: row;
        gap: 5%;
    }

    .section-two-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 30rem;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .section-two-title {
        margin-right: 5rem;
        font-size: 2.5rem;
    }
}

@media (min-width: 628px) and (max-width: 992px) {
    .section-two {
        height: 10em;
        flex-direction: row;
        padding: 5%;
        gap: 5%;
    }

    .section-two-text {
        width: 25rem;
        font-size: 1rem;
        font-weight: 600;
    }

    .section-two-title {
        margin-right: 5rem;
        font-size: 2rem;
    }
}

@media (max-width: 628px) {
    .section-two {
        height: 15rem;
        padding: 5%;
        /* padding-bottom: 10%; */
        flex-direction: column;
    }

    .section-two-text {
        margin-bottom: 2.50rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .section-two-title {
        margin-left: 25%;
        font-size: 1.6rem;
    }
}

@media (max-width: 320px) {
    .section-two {
        height: 17rem;
    }

    .section-two-text {
        margin-bottom: 1.50rem;
    }

    .section-two-title {
        margin-left: 15%;
        font-size: 1.6rem;
    }
}
