@media (min-width: 992px) {
    .section-two {
        background-color: #ffffff;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5%;
    }

    .section-two-text {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 30rem;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .section-two-title {
        color: black;
        text-align: right;
        margin-right: 5.0rem;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 1.2;
    }

    .highlight {
        color: #6e8f84;
    }
}

@media (min-width: 628px) and (max-width: 992px) {
    .section-two {
        background-color: #ffffff;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5%;
        padding: 5%;
    }

    .section-two-text {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 25rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
    }

    .section-two-title {
        color: black;
        text-align: right;
        margin-right: 5.0rem;
        font-weight: 900;
        font-size: 2rem;
        line-height: 1.2;
    }

    .highlight {
        color: #6e8f84;
    }
}

@media (min-width: 0px) and (max-width: 628px) {

    .section-two {
        background-color: #ffffff;
        height: 18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5%;
    }

    .section-two-text {
        color: black;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        padding: 5%;
    }

    .section-two-title {
        color: black;
        text-align: right;
        margin-left: 25%;
        font-size: 1.6rem;
        font-weight: 900;
    }

    .highlight {
        color: #6e8f84;
    }
}
