.container {
    background-color: #ffffff;
    color: black;
    height: 30rem;
    padding-top: 5%;
}

.title {
    text-align: center;
    font-size: 1.40rem;
    font-weight: 900;
    margin-bottom: 0.50rem;
    padding-top: 5%;
    padding-bottom: 1%;
}

.list-option-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 0%;
    margin-bottom: 7%;
}

.list-option {
    font-size: 0.9rem;
    font-weight: 900;
    display: flex;
    gap: 0rem;
    flex-wrap: wrap;
    justify-content: center;
}

.list-option li {
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
}

.list-option li.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #6e8f84;
    border-radius: 2px;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.gallery-button {
    position: absolute;
    top: 40%;
    background: #ff111180;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 2;
}

.gallery-scroll {
    display: flex;
    gap: 2%;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 2%;
}

.gallery-scroll::-webkit-scrollbar {
    height: 3px;
    width: 90%;
}

.gallery-scroll::-webkit-scrollbar-thumb {
    margin-top: 5%;
    padding-top: 5%;
    border-radius: 4px;
    background-color: #c4ce34;
}

.gallery-button.prev {
    left: 0;
}

.gallery-button.next {
    right: 0;
}

.gallery-buttons-inline {
    display: flex;
    margin-right: 0%;
    align-items: center;
    gap: 0.35rem;
}

.gallery-single-button {
    background: #151515;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 11px;
    font-size: 0.65rem;
    cursor: pointer;
    transition: background 0.3s;
}

.gallery-button-inline:hover {
    background: #555;
}

.image-container {
    width: 15rem;
    height: 14rem;
    background: #f5f5f5;
    padding: 2rem;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.image-container img {
    max-width: 100%;
    max-height: 9rem;
    border-radius: 10px;
    object-fit: contain;
}

.image-container h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.image-container p {
    margin-top: 5px;
    font-size: 14px;
    color: #262626;
}

/* Tablet */
@media (min-width: 768px) {
    .list-option-container {
        gap: 5%;
    }

    .list-option {
        gap: 5px;
    }

    .gallery-buttons-inline {
        margin-right: 10%;
    }

    .container {
        padding-top: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .container {
        padding-top: 1rem;
    }
}
