.section-two {
    background-color: white;
}

.section-two-text {
    color: black;
}

.section-two-title {
    color: black;
}

.highlight {
    color: #134e4a;
}

/* Desktop */
@media (min-width: 992px) {
    .section-two {
        background-color: salmon;
    }
}

/* Tablet */
@media (min-width: 628px) and (max-width: 992px) {
    .section-two {
        background-color: rgb(146, 210, 82);
    }

    .section-two-text {
        margin-bottom: 2.5rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        margin-left: 3.5rem;
        margin-right: 3.5rem;
        background-color: rgb(210, 165, 82);
    }

    .section-two-title {
        text-align: right;
        margin-right: 5.0rem;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: rgb(188, 170, 138);
    }
}

/* Mobile */
@media (min-width: 0px) and (max-width: 628px) {

    .section-two-text {
        margin-bottom: 2.5rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .section-two-title {
        text-align: right;
        margin-right: 5.0rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
}
