.footer-container {
    height: 30rem;
    width: 100%;
    background-color: #f8f4f5;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    align-items: center;

}

.footer-top-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    font-weight: 900;
}

.text-highlight {
    font-weight: normal;
    padding-bottom: 0.50rem;
    color: #333333;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.footer-bottom-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 5rem;
    font-size: 0.65rem;
}

.follow-us-text {
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    width: 10rem;
    line-height: 1.2;
    padding-bottom: 1.50rem;
}

.copyright {
    padding-top: 1rem;
    color: #333333;
    font-size: 0.65rem;
}

.arrow-footer {
    background-color: antiquewhite;
    width: 1rem;
    height: 1rem;
}
